<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                <h1 class="mb-5">Ajouter Etudiant </h1>
                            </div>                    </div>                    </div>
                
         
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" name="nom" [(ngModel)]="student.nom" class="form-control">
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom:</label>
                    <input type="text" id="prenom" name="prenom" [(ngModel)]="student.prenom" class="form-control">
                </div>
                <div class="form-group">
                    <label for="classe">Classe:</label>
                    <input type="text" id="classe" name="classe" [(ngModel)]="student.classe" class="form-control">
                </div>
                <div class="form-group">
                    <label for="reussite">Réussite:</label>
                    <input type="text" id="reussite" name="reussite" [(ngModel)]="student.reussite" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nbAbsences">Nombre d'absences:</label>
                    <input type="text" id="nbAbsences" name="nbAbsences" [(ngModel)]="student.nbAbsences" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add Student</button>
            </form>
        </div>
    </div>
</div>
